/* -- google font -- */
@import 'https://fonts.googleapis.com/css?family=Hind+Vadodara:500';
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

* {
  padding            : 0;
  margin             : 0;
  box-sizing         : border-box;
  -webkit-box-sizing : border-box;
}

html,
body { 
  height      : 100%;
  overflow-x  : hidden;
}

/* fix */
.marfix:before {
  display : table;
  content : " ";
  clear   : both;
  height  : 0;
}

.section {
  width  : 100%;
  height : 100%;
}

.wrapper {
  width     : 960px;
  max-width : 100%;
  height    : 100%;
  margin    : 0 auto;
}

.center-align {
  position  : relative;
  top       : 50%;
  transform : translateY(-50%);
}

/* -- Background -- */
.a { background-color: #2a363b;}
.b { background-color: #e84a5f;}
.c { background-color: #ff847c;}
.d { background-color: #99b898;}
.e { background-color: #fcccab;}
.f { background-color: #eee;}

.pad-20    { padding : 20px; }
.mr-top-55 { margin-top : 55px;}
.mr-top-35 { margin-top : 35px;}
.mr-top-25 { margin-top : 25px;}
.mr-top-15 { margin-top : 15px;}
.mr-left-15 { margin-left : 15px;}

.block { display: block;}
.none  { display: none;}

/* animation */
@keyframes blink {
  0%   { opacity : 0;}
  25%  { opacity : .5;}
  50%  { opacity : 1; }
  75%  { opacity : .5;}
  100% { opacity : 0;}
}

/* Fixed Element */
#nav-left {
  position : fixed;
  top      : 0;
  left     : 0;
  padding  : 10px;
  width    : 100px;
  height   : 100%;
  z-index  : 2;

  font-family : "Roboto";
  color       : #ff847c;
  text-align  : center;  
}

#nav-left-logo {
  position : absolute;
  top      : 20px;
  left     : 20px;
  width    : 65px;
  height   : 65px;
  border   : 1px solid #ff847c;
}

#nav-left-logo > a {
  font-size   : 24px;
  line-height :  2.4;
  cursor      : pointer;
}

#nav-menu {
  width      : 65px;
  margin     : 0 auto;
  list-style : none;
  text-align : center; 
}

#nav-menu > li {
  position : relative;
  padding  : 5px;
  margin   : 10px 0;
}

#nav-menu > li > a {
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  border-radius    : 50%;
  background-color : #ff847c;
  cursor           : pointer;
}

#nav-menu > li > .menu-tag {
  position         : absolute;
  top              : -5px;
  display          : block;
  padding          : 5px;
  background-color : #ff847c;
  color            : #eee; 
  width            : 80px;
  text-align       : center;
  font-family      : "pacifico";
  font-size        : 16px;
  opacity          : 0;
  z-index          : -1;
  -webkit-transition : opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1),
                       transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);

  transition : opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1),
               transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#nav-menu > li > a:hover + .menu-tag {
  transform : translateX(55px);
  opacity : 1;
}

/* main section */
#main {
  position        : relative;
  font-family     : "Fira Mono";
}

#intro-card {
  position : relative;
  width    : 100%;
  height   : inherit;
}

#intro_terminal {
  position         : relative;
  width            : 50%;
  height           : 400px;
  margin           : 0 auto;
  padding          : 20px;
  background-color : #2a363b;
  color            : #eee;
  border           : 2px solid #ff847c;
  font-size  : 14px;
}

#intro_terminal:before {
  position         : absolute;
  top              : -30px;
  left             : -2px;
  display          : block;
  content          : "   hunter.exe";
  padding          : 5px 0;
  width            : 100%;
  height           : 20px;
  background-color : #ff847c;
  border           : 2px solid #ff847c;
}

.terminal_text {
  padding : 10px 0;
}

.terminal_text > span {
  display       : inline-block;
  width         : 15px;
  border-bottom : 3px solid #eee; 
  
  animation : blink .8s infinite;
}

.terminal_social {
  padding : 20px 0;
  text-align : center;
}

.btn-social {
  display : inline-block;
  padding : 10px;
  margin  : 0 5px; 
  cursor  : pointer;
}

.btn-social:hover {
  background-color : #eee;
  color            : #2a363b;
}

.social-hover {
  background-color : #eee;
  color            : #2a363b;
}

#intro_resume {
  position   : absolute;
  bottom     : 10%;;
  padding    : 20px 0;
  text-align : center;
  width : 100%;
}

#intro_resume > a {
  display : inline-block;
  border  : 1px solid #ff847c;
  padding : 20px;
  cursor  : pointer;
  color   : #ff847c;
}

/* skill & development */
#hw-skill-wrap {
  perspective : 1600px;
}

#hw_skill_c {
  display        : flex;
  justify-content: space-around;
  z-index : 100;
  width    : 100%;
  height   : 500px;
  padding  : 25px;
  position : relative;
  top      : 50%;
  background-color  : white;
  -webkit-transform : translateY(-50%) rotateX(20deg) rotateY(-35deg) rotateZ(15deg);
  transform         : translateY(-50%) rotateX(20deg) rotateY(-35deg) rotateZ(15deg);
}

/*
  fail to do it, finding reason

#hw_skill_c:before {
  z-index    : -1;
  display    : block;
  content    : " ";
  position   : absolute;
  bottom     : 5px;
  left       : 10px;
  width      : 25%;
  height     : 15px;
  background : #777;
  box-shadow : 0 10px 10px #777;
  transform  : rotate(-4deg);
}

#hw_skill_c:after {
  z-index  : -1;
  display  : block;
  content  : " ";
  position : absolute;
  bottom   : 11px;
  left     : auto;
  right    : 10px;
  width    : 25%;
  height   : 15px;
  background : #777;
  box-shadow : 0 10px 10px #777;
  transform  : rotate(4deg);
}
*/

#hw_skill_intro {
  width        : 60%;
  height       : 100%;
  color        : #2a363b;
  font-family  : "pacifico";
}

#hw_skill_title {
  font-family    : inherit;
  font-size      : 60px;
  letter-spacing : 5px;
}

#hw_skill_title:after {
  display    : block;
  width      : 100px;
  border-top : 2px solid #2a363b;
  height     : 1px;
  content    : " ";
  margin-top : 15px;
}

#hw_skill_title + p {
  font-family : "roboto";
  margin-top  : 25px;
  line-height : 1.8;
}

#hw_skill_selection {
  width      : 100%;
  padding    : 10px 0;
  margin-top : 50px;
}

#ss_container {
  position  : relative;
  width     : 300px;
  height    : 50px;
  margin    : 0 auto;
  overflow  : hidden;
}

#ss_container > a {
  position         : absolute;
  display          : block;
  width            : 50px;
  height           : 50px;
  border-radius    : 50%;
  cursor           : pointer;
  z-index          : 2;

  -webkit-transition : transform .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition : transform .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#ss_container > .ss_prev {
  left : 0;
  background: url(../img/prev.png);
}

#ss_container > .ss_prev:hover {
  -webkit-transfrom : translateX(-10px);
  transform : translateX(-10px);
}

#ss_container > .ss_next {
  right : 0;
  background: url(../img/next.png);
}

#ss_container > .ss_next:hover {
  -webkit-transfrom : translateX(10px);
  transform : translateX(10px);
}

#ss_slider {
  position   : relative;
  width      : 900px;
  height     : inherit;
}

#ss_slider  > a {
  position   : absolute;
  display    : block;
  width      : 300px;
  height     : inherit;
  text-align :  center;
  font-size  : 22px;
  top        : 0;
  line-height: 2.2;
}

.skill-front { left : 0; color: #E74C3C;}
.skill-back  { left : 300px; color: #BF55EC;}
.skill-ints  { left : 600px; color: #2ECC71;}

#hw_skill_stat {
  width       : 35%;
  height      : 100%;
  margin-left : 15px;
  color       : #2a363b; 
}

#skill_stat {
  list-style : none;
  position   : relative;
  width      : 100%;
  height     : 100%;
}

#skill_stat > li {
  width    : 100%;
  height   : 100%;
  position : absolute;

  box-shadow : 0px 0px 25px rgba(0,0,0,.5);
}

.skill_stat_title {
  text-align    : center;
  font-size     : 24px;
  font-family   : "pacifico";
  font-weight   : 100;
  border-top    : 1px solid #2a363b;
  border-bottom : 1px solid #2a363b;
  padding       : 15px 0; 
}

.skill_stat_rating {
  font-family : "pacifico";
  font-size   : 20px;
  padding     : 20px 0;
}

.skill_stat_rating > p {
  text-align : center;
  padding    : 10px 0;
}

.rating_block {
  padding : 15px;
}

.rating_block > .rr_block {
  float   : right;
  display : block;
}

.rr_block > i {
  display          : inline-block;
  width            : 13px;
  height           : 13px;
  margin-right     : 1px;
  background-color : #e84a5f;
  border-radius    : 50%;
}

.rr_block > i.fade {
  background-color: #ccc;
}

