/* google font */
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* common setup */
* {
  padding : 0;
  margin  : 0;

  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

*:after,
*:before {
  padding : inherit;
  margin  : inherit;

  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
}

html,
body {
  height: 100%;
}

.section {
  width  : 100%;
  height : 100%;
}

.wrapper {
  width  : 80%;
  margin : 0 auto;
}

.page_title {
  font-size      : 48px;
  letter-spacing : 3px; 
}

.page_title span {
  font-size      : 14px;
  font-weight    : 200; 
  font-family    : "Open Sans";
  
  margin-left    : 15px;
}

/* common style */
.text-c { text-align: center; }
.bg-b      { background-color: #333;}
.bg-active { background-color : #e8175d;}
.bg-future { background-color : #474747;}
.bg-past   { background-color : #aba7a7;}

.m-top-15 { margin-top: 15px;}

/* ------ hamburger icon */
#hamburgur-icon {
  position   : fixed;
  top        : 50px;
  right      : 50px;
  width      : 50px;
  height     : 50px;
  cursor     : pointer;
  text-align : center;
}

#hamburgur-link {
  position         : absolute;
  top              : 45%;
  right            : 25%;

  display          : inline-block;
  width            : 50%;
  height           : 2px;
  background-color : #e8175d;

  transition       : transform .5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor           : pointer;
}

#hamburgur-link:after {
  position         : absolute;
  top              : 5px;
  right            : 0;
  display          : inline-block;
  width            : 100%;
  height           : 2px;
  background-color : #e8175d;

  content          : " ";
  transition       : transform .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#hamburgur-icon:hover #hamburgur-link {
  transform : translateX(5px);
}

#hamburgur-icon:hover #hamburgur-link:after {
  transform : translateX(-10px);
}

/* ------ navigator page */
#hunter-nav {
  position         : fixed;
  top              : 0;
  right            : 0;

  font-family      : "open sans";
  width            : 350px;
  height           : 100%;
  padding          : 25px;
  background-color : #eee;
  z-index          : 9;

  transform  : translateX(500px);
  transition : transform .4s ease-in;
}

#hunter-nav.open {
  transform : translateX(0);
}

.close-nav {
  font-size      : 12px;
  font-family    : "arvo";
  font-weight    : bold;
  cursor         : pointer;
  letter-spacing : 2px;
  color          : #363636;
}

#nav-list {
  list-style     : none;
  margin         : 20px 0;
  border-bottom  : 2px solid #e8175d;
  padding-bottom : 10px;
}

#nav-list > li {
  padding : 15px 0;
  cursor  : pointer;
}

#nav-list > li:hover {
  background-color : #2a363b;
  color            : white;
}

#nav-list > li:hover a {
  color : white;
}

#nav-list > li > a {
  padding-left    : 10px;
  font-family     : arvo;
  font-size       : 14px;
  text-decoration : none;
  color           : #363636;
}

#nav-list > li > span {
  font-size : 18px;
}

/* profile */
#nav-profile {
 text-align  : center;
 font-family : Arvo; 
 color       : #363636;
 border-bottom  : 2px solid #e8175d;
 padding-bottom : 5px;
}

#nav-profile > p {
  font-size : 12px;
  margin    : 10px 0;
}

#nav-profile > p > a {
  display         : inline-block;
  border          : 1px solid #e8175d;
  text-decoration : none;
  padding         : 5px;
  color           : #e8175d;
}

#my-face {
  border-radius : 50%;
  width         : 120px;
  height        : 120px;
}

/* find me */
#nav-findme {
  padding     : 10px 0;
  text-align  : center;
  font-family : Arvo;
  font-size   : 14px;
}

#nav-findme > p {
  margin-top : 30px;
}

#nav-findme > a {
  position        : relative;
  display         : inline-block;
  font-size       : 12px;
  border          : 1px solid #e8175d;
  padding         : 5px;
  margin-top      : 10px;
  color           : #e8175d;
  text-decoration : none;
}

#nav-findme > a:after {
  position         : absolute;
  top              : 50%;
  left             : 0;
  display          : block;
  width            : 0;
  border-top       : 1px solid #e8175d;
  background-color : #363636;
  content          : " ";
  padding          : 0;
  margin           : 0;

  transition : width .5s cubic-bezier(0.19, 1, 0.22, 1);
}

#nav-findme > a:hover:after {
  width : 100%;
}
/* ------ main page */
#main {
  background-color : #363636;
  font-family      : Arvo; 
  transition       : transform .5s cubic-bezier(0.23, 1, 0.320, 1);
}

#introduction {
  position   : relative;
  top        : 50%;
  transform  : translateY(-50%);
  text-align : center;
  color      : #ccc;

}

.number {
  display        : inline-block;
  margin         : 25px 0;
  letter-spacing : 5px;
}

.line {
  display    : inline-block;
  border-top : 5px solid #e8175d;
  height     : 5px;
  width      : 50px;
  margin     : 20px 0;
}

#introduction p {
  font-family    : "Open Sans";
  font-size      : 12px;
  font-style     : italic;
  letter-spacing : 3px;
}

/* ------ About me */
#about_me {
  width            : 100%;
  background-color : #363636;
}

#about_me_wrap {
  font-family : arvo;
  color       : #ccc;
}

#about_me_wrap .number {
  margin-top : 150px;
}

#about_me_wrap article {
  width          : 800px;
  line-height    : 2.2;
  padding        : 30px 50px;
  font-size      : 14px;
  letter-spacing : 1.5px;
  margin-left    : 50px;
}

#about_me_wrap article a {
  font-size : 16px;
  color     : #e8175d;
}

.mention {
  font-size : 16px;
  color     : #e8175d;
}

.breakline {
  padding:10px;
}

/* ------ what i can do */
#ability_me {
  padding : 20px 0; 
}

#ability_me > h1 {
  font-size : 24px;
  letter-spacing: 2px;
  padding : 20px 0;
}

#ability_showcase {
  display         : flex;
  justify-content : center;
}

.gridcase {
  padding    : 50px;
  text-align : center;
  transition : all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.gridcase:nth-child(odd) {
  background-color: #333;
}

.gridcase:hover {
  box-shadow : 0px 0px 20px #333;
  transform : scale(1.05);
}

.gridcase h3 {
  padding        : 10px 0;
  font-size      : 16px;
  font-family    : "Open Sans";
  letter-spacing : 2px; 
}

.line-thin {
  display    : inline-block;
  border-top : 2px solid #e8175d;
  height     : 1px;
  width      : 20px;
  margin     : 5px 0;
}

.gridcase p {
  width       : 200px;
  font-family : "arvo";
  font-size   : 14px;
  line-height : 2.0;
}

/* ------ tech stacks */
#tech_stacks {
  width            : 100%;
  background-color : #363636;
  color            : #ccc;
  font-family      : "arvo";
  padding          : 50px 0;
}

#tech_container {
  display    : flex;
  margin-top : 50px;
  height     : 500px;
}

.tech_bar {
  width   : 30%;
  height  : 100%;
  padding : 25px;
  
}

.tech_bar > label {
  display        : block;
  font-family    : "Open Sans";
  letter-spacing : 1.5px;
  font-size      : 12px;
}

.tech-list {
  position   : relative;
  font-size  : 22px;
  margin-top : 15px;
  padding    : 10px 0;
  letter-spacing:  1.3;
}

/* ------ experience */
#experience {
  font-family      : "arvo";
  background-color : #363636;
  color            : #ccc;
  padding          : 50px 0;
}

#exp_container {
  width   : 100%;
  padding : 50px 0;
}

#exp_list {
  list-style      : none;
  font-family     : "arvo"
}

#exp_list > li {
  margin-left      : auto;
  margin-right     : auto;
  position         : relative;
  width            : 25px;
  height           : 25px;
  border-radius    : 50%;
}

/* striped line */
.li-down:after {
  position     : absolute;
  left         : 11px;
  display      : block;
  content      : " ";
  border-right : 3px dotted #ccc;
}

.li-line-60 { margin-top : 120px; }
.li-line-60:after {
  bottom : -60px;
  height : 60px;
}

.li-line-180 { margin-top : 60px; }
.li-line-180:after {
  bottom : -180px;
  height : 180px;
}

.li-line-300 { margin-top : 180px; }
.li-line-300:after {
  bottom : -300px;
  height : 300px;
}
.li-unknown { margin-top : 300px; }

/* floating block */
.block {
  position          : absolute;
  background-color  :#333;
  padding           : 10px;
  font-size         : 12px;
  top               : -2px;
}

.block-width > h4 {
  margin-bottom  : 5px;
  font-family    : "open sans";
  font-size      : 24px;
  letter-spacing : 2px;
}

.block-width > span {
  font-size : 14px;
  color     : #e8175d;
}

.block-width > p {
  margin-top  : 10px;
  font-size   : 12px;
  line-height : 1.4;
}

.block-top    { top    : -50px; left : -10px;}
.block-bottom { bottom : -10px; left : -10px;}
.block-left   { left   : -100px; }
.block-right  { right  : -100px; }

.block-width-left {
  width : 400px;
  left  : -420px;
}

.block-width-right {
  width : 450px;
  right : -470px;
}

/* ------ Education */
#education {
  font-family      : "arvo";
  background-color : #363636;
  color            : #ccc;
}

.school {
  height     : 350px;
  text-align : center;
  margin-top : 5px;
  letter-spacing: 2px;
  font-size     : 14px;
}

.school div {
  position : relative;
  top      : 50%;

  transform : translateY(-50%);
}

.school div h4 {
  color     : #e8175d;
  font-size : 24px;
  padding   : 10px;
}

.school div p {
  padding : 10px 0;
}